.historico-container {
  display: flex;
  gap: 20px;
  background: #fafafa;
  padding: 20px;
}

.lista-vendas {
  flex: 3;
}

.linha-topo {
  height: 2px;
  background: #ff8e71;
  margin-bottom: 20px;
}

.card-venda {
  background: #eeeeee;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-venda {
  flex: 3;
  font-size: 14px;
  color: #333;
}

.valor-e-botao {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.valor {
  font-weight: bold;
  color: #ff8e71;
  font-size: 16px;
  margin-bottom: 10px;
}

.historico-vendas {
    flex: 1;
    overflow-y: auto;
    max-height: 65vh;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ff8e71 #f5f5f5;
}

.historico-vendas::-webkit-scrollbar {
    width: 8px;
}

.historico-vendas::-webkit-scrollbar-thumb {
    background: #ff8e71;
    border-radius: 6px;
}

.btn-estornar {
  background: #ff5e5e;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-estornar:hover {
  background: #e94a4a;
  transform: scale(1.05);
}

.confirmacao-estorno {
  flex: 1;
  background: #f3f3f3;
  border-left: 4px solid #ff8e71;
  padding: 15px;
  height: fit-content;
}

.confirmacao-estorno h4 {
  margin-bottom: 10px;
  color: #333;
}

.confirmacao-estorno p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.aviso {
  font-size: 13px;
  color: #e53935;
  margin-bottom: 15px;
}

.botoes-estorno {
  display: flex;
  gap: 10px;
}

.botoes-estorno button {
  flex: 1;
  border: none;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.botoes-estorno .cancelar {
  background: #ddd;
  color: #333;
}

.botoes-estorno .confirmar {
  background: #ff8e71;
  color: white;
}

.botoes-estorno .confirmar:hover {
  background: #ff724e;
}
