
.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}


.sidebar {
  width: 250px;
  min-width: 200px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #33B088;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 0.9s ease, min-width 0.9s ease;
}

.sidebar.collapsed {
  width: 90px;
  min-width: 90px;
}

.sidebar.collapsed .nav-text, .sidebar.collapsed .logout-btn {
  display: none;
}

.sidebar.collapsed .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sidebar.collapsed .nav-icon {
  margin-right: 0;
}

.sidebar.collapsed .nav-item:hover {
  margin-left: 0;
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar.collapsed .siderbar-footer {
  justify-content: center;
}

.sidebar.collapsed .menu-icon img {
    transform: rotate(90deg); 
    transition: transform 0.9s ease-in-out; 
}


.sidebar-header {
  padding: 20px;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  height: 50px;
}

.menu-icon {
  cursor: pointer;
  font-size: 1.3em;
}


.sidebar-nav {
  flex-grow: 1;
  padding: 70px 0;
}


.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 16px;
  color: #2A445E;
  /* color: #0555a4; */
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.nav-icon {
  margin-right: 15px;
  width: 30px;
  height: auto;
}


.nav-item:hover {
  background-color: #fff;
  color: #33B088;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 15px;
  padding-left: 25px;
  transition: all 0.2s ease;
}



.nav-item:hover .nav-icon {
  filter: invert(56%) sepia(13%) saturate(3015%) hue-rotate(124deg) brightness(85%) contrast(85%);
}


.nav-item:hover .nav-text {
  font-weight: 700;
}

.siderbar-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
}

.logout-btn {
  background: none;
  border: none;
  color: #2A445E;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.icon-btn {
  width: 24px;
  height: auto;
  transition: transform 0.3s ease;
}


.siderbar-footer:hover .icon-btn {
  transform: translateX(6px);
}


.logout-btn:hover {
  background-color: rgba(0, 0, 0, 0);
}



.main-content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.main-header {
  height: 60px;
  background-color: #33B088;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.divider {
  width: 2px;
  height: 30px;
  background-color: #fff;
  opacity: 0.6;
  margin: 0 10px;
  border-radius: 1px;
}

.user-name {
  font-weight: 600;
  color: #2A445E;
}

.user-avatar {
  font-size: 1.5em;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 8px;
  line-height: 1;
  width: 30px;
  height: auto;
}

.main-content {
  padding: 20px;
  flex-grow: 1;
  color: #000000;
}


