.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #FF8E71;
  color: #333333;
}

.table th {
  border-bottom: 2px solid #FF8E71;
  background-color: #f0f0f0;
}
