body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}


.left-panel {
  width: 40%;
  position: relative;
  overflow: hidden;
  background-color: #FF8E71;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.waves-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    z-index: 1;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 20s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 30s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 15s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 24s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-content: center;
  margin-top: -3.125vw;
}

.logo-image {
  max-width: 80%;
  width: 25vw;
  height: auto;
  margin-bottom: 10px;
  object-fit: contain
}

.tab-menu-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  
}

.tab {
  display: block;
  padding: 10px 30px 10px 20px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.tab.active {
  background-color: #ffffff;
  color: #FF8E71;
  border-radius: 15px 0 0 15px;
}


.right-panel {
  width: 65%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.login-form-box {
  width: 80%;
  max-width: 420px;
  min-height: 400px;
  transition: all 0.4s ease;
  overflow: visible;
}



.text-login {
  color: #FF8E71;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 40px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-form input {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #F5F5F5;
  padding: 10px;
  font-size: 1em;
  outline: none;
  color: black;
  font-weight: 500;
  text-align: right;
}

.auth-form input::placeholder {
  color: #888;
  text-transform: uppercase;
  font-weight: 500;
}

.auth-form input,
.enter-button {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}


.enter-button {
  background-color: #FF8E71;
  color: #ffffff;
  border: none;
  padding: 18px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.enter-button:hover {
  background-color: #ff724e;
  transform: scale(1.05);
}


.forgot-password {
  color: #ff724e;
  text-decoration: none;
  font-size: 0.9em;
  margin-top: 10px;
  font-weight: bold;
}

.forgot-password:hover {
  text-decoration: underline;
}


.form-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.form-slide.active {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

.form-slide.hidden {
  opacity: 0;
  transform: translateY(-50px);
  z-index: 1;
}
