.main-header {
  height: 60px;
  background-color: #FF8E71;
  padding: 0 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


.user-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.divider {
  width: 2px;
  height: 30px;
  background-color: #F5F5F5;
  opacity: 0.6;
  margin: 0 10px;
  border-radius: 1px;
}

.user-name {
  font-weight: 600;
  color: #F5F5F5;
}

.icon-btn {
width: 30px;
height: 30px;
}

.user-avatar {
  width: 30px;
  height: 30px;
}


.msg-icon-container {
  position: relative;
  cursor: pointer;
}

.msg-badge {
  position: absolute;
  top: 0px;
  right: -4px;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  font-weight: bold;
  width: 12px;
  height: 12px;
}

.mensagem-popup {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #fff;
  color: #333333;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  padding: 10px 15px;
  z-index: 999;
  animation: fadeIn 0.25s ease;
}

.mensagem-popup h4 {
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 5px;
}

.mensagem-item {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}

.mensagem-item strong {
  display: block;
  margin-bottom: 3px;
  font-size: 0.9em;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

