.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 20px;               
    margin-top: 20px;        
}

.paginacao button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #ff8e71;
    border: none;
    color: #f5f5f5;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.paginacao button:hover {
    background-color: #ff7856;
    transform: scale(1.05);
}

.paginacao img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}
