.menu-left {
  display: flex;
  gap: 40px;
}

.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.menu-btn:hover {
  opacity: 0.8;
  scale: 1.06;
}

.menu-btn.active {
  border: 1.8px solid #fff;
  border-radius: 30px;
  padding: 6px 18px;
}

.menu-btn.active {
  border: 1.8px solid #fff;
  border-radius: 30px;
  padding: 6px 18px;
  transform: scale(1.05);
  transition: all 0.25s ease;
}


